@use "../../../common/css/font.scss";

.chatHistoryContainer {
  padding: 20px;
  font-family: "Segoe UI", Arial, sans-serif;
  color: #333333;
}

.title {
  font-size: 32px;
  font-weight: 600;
  @extend %font-color;
  margin-top: 0px;
  margin-bottom: 10px;
}

.dateSelector {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;

  label {
    font-size: 24px;
    font-weight: 500;
    color: #728082;
  }

  input {
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 10rem;
    color: #728082;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  color:#728082;

  th {
    background-color: #7a878b;
    color: white;
    padding: 10px;
    font-weight: 500;
    text-align: left;
  }

  td {
    padding: 10px;
    border-bottom: 1px solid #eee;
  }

  tr:nth-child(even) {
    background-color: #f8f8f8;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exportBtn {
  padding: 8px 15px;
  @extend %font-color;
  font-weight: 700;
  border: 1px solid #268c91;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #dff4f4;
  }
}

.pagination {
  display: flex;
  gap: 5px;

  button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background: white;
    color:hsl(182, 53%, 53%);
    font-weight: 700;
    cursor: pointer;
  }

  .active {
    background-color: #d4d4d4;
  }
}
