.universal-search-container {
    border: 2px solid #D2A37E;
    border-radius: 4px;
    background-color: #fff;
    width: 250px;
    margin-left: 10%;
    margin-top: 2%;
    display: flex;
    align-items: center;
}

.universal-search-input {
    flex: 1;
    border: none;
    padding: 8px 0 8px 8px;
    outline: none;
    font-size: 16px;
}

.universal-search-input::placeholder {
    color: #A9A9A9;
    font-family: 'Montagu Slab', serif;
    font-weight: normal;
}

.universal-search-button {
    background: none;
    border: none;
    font-size: 15px;
    color: #D2A37E;
    padding: 4px 10px;
}

@media (max-width: 768px) {
    .universal-search-container {
        margin-left: 1%;
        width: 200px;
    }
}
