.nav-button {
    font-family: "Tiro Devanagari Hindi";
    text-decoration: none;
    color: #FFFFFF;
    white-space: nowrap;
    font-size: clamp(0.9rem, 3vw, 1.5rem);
    padding: 5px;
    padding-left: clamp(15px, 3vw, 20px);
    padding-right: clamp(15px, 3vw, 20px);
    background-color: #9d8375; 
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    transition-duration: 0.4s;
    &:hover {
        background-color: #CB997E;
        cursor: pointer;
    }
    &:active {
        transition-duration: 0.1s;
        background-color: rgb(30, 30, 30);
    }
}