@use "../../../common/css/index.scss" as *;
@use "../../../common/css/font.scss";

.record-table-section {
    @extend %mar-t-24;
    width: 100%;   
}

.mainPageBody {
    height: 90vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: "Segoe UI", Arial, sans-serif;
}
.mainPageContainer {
    // @extend %bg-ffffff;
    @extend %font-family;
    width: 100%;
    padding: 20px 20px;
    text-align: center;
}

.pageTitle {
    font-size: 32px;
    color: hsl(182, 53%, 53%);
    text-align: left;
    margin-bottom: 20px;
}

.balanceSection {
    margin-bottom: 40px;
}

.balanceTitle {
    font-size: 28px;
    color: #8d8787;
    margin-bottom: 15px;
}

.balanceBox {
    display: inline-block;
    font-size: 32px;
    font-weight: 6000;
    color: hsl(182, 53%, 53%);
    border: 2px solid #ccc;
    padding: 20px 100px;
    @extend %bg-ffffff;
}

.chartSection {
    margin-top: 30px;
}

.chartTitle {
    font-size: 28px;
    color: #8d8787;
    margin-bottom: 20px;
}

body {
    overflow: hidden;
}
