@use "../../../common/css/index.scss" as *;

.mainPageBody {
    height: 100vh;
}

.mainPageContainer {
    @extend %bg-ffffff;
    @extend %pad-24;
    width: 100vw;
    height: 100vh;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.record-table-section {
    @extend %mar-t-24;
    width: 100%;   
}
