%font-family {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

%font-12-bold {
    font-size: 0.75rem !important;
    font-weight: 700 !important;
    line-height: 1rem !important;
}

%font-12 {
    font-size: 0.75rem !important;
    font-weight: 400 !important;
    line-height: 1rem !important;
}

%font-32-bold {
    font-size: 2rem !important;
    font-weight: 700 !important;
    line-height: 2.5rem !important;
}

%font-color {
    color: hsl(182, 53%, 53%);

}