.title {
    font-family: sans-serif;
    letter-spacing: 2px;
    white-space: nowrap;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: clamp(1px, 0.3vw, 2px);
    font-size: clamp(35px, 3vw, 45px);
    font-style: normal;
}

.label-input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px; 
}

.label-input-group input {
    padding: 10px;
    border: 1px solid #938f8f;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.label-input-group label {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 5px;
    color: #333;
}

.create-client-page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin-top: 100px;
    width: 100vw;
}


.create-client-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;
}

.form-scrollable {
    padding: 0px 10px;
    max-height: 80vh;
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; 
}


label {
    display: block;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 5px;
    color: #333;
}

.form-row1 {
    text-align: center;
    display: flex;
    gap: 20px;
}

.form-row2 {
    text-align: center;
    display: flex;
    padding-top: 8px;
    gap: 20px;
    justify-content:center;
}

.form-row3 {
    text-align: center;
    display: flex;
    gap: 20px;
    padding-top: 8px;
}

.form-row4 {
    text-align: center;
    display: flex;
    gap: 20px;
    padding-top: 8px;
}

.form-row5 {
    text-align: center;
    padding-top: 8px;
    display: flex;
    justify-content:center;
}

.bottom-buttons {
    text-align: center;
    padding-top: 8px;
}

.additional-note {
    padding: 15px;
    width: fit-content;
    height: fit-content;
    min-height: 50px;
    max-height: 150px;
    min-width: 300px;
    max-width: 600px;
    field-sizing: content;
    border-color: #938f8f;
}
.note {
    padding: 15px;
    width: fit-content;
    height: fit-content;
    min-width: 100px;
    max-width: 400px;
    max-height: 150px;
    field-sizing: content;
    border-color: #938f8f;
    border-radius: 5px;
}

.note::placeholder {
    text-align: center;
}

/* Hide scrollbar in Webkit browsers (Chrome, Safari) */
.note::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar in Webkit browsers (Chrome, Safari) */
.additional-note::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar in IE, Edge, Firefox */
.note, .additional-note {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.save-draft, .submit, .clear {
    background-color: #CB997E;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out;
    min-width: 100px;
}

.clear {
    background-color: #cc2323;
}

.save-draft:hover, .submit:hover {
    background-color: #d1d5db;
}

.clear:hover {
    background-color: #c74949;
}

.save-draft {
    margin-right: 80px;
}

/*
.submit {
    margin-right: 80px;
}
*/

.name {
    padding: 10px;
    margin-right: 20px;
}

.name::placeholder {
    text-align: center;
}

.company {
    padding: 10px;
    margin-right: 20px
}

.company::placeholder {
    text-align: center;
}

.hobby {
    padding: 10px;
}

.hobby::placeholder {
    text-align: center;
}

.email {
    padding: 10px;
}

.email::placeholder {
    text-align: center;
}

.family-situation {
    padding: 10px;
    margin-right: 20px;
}

.family-situation::placeholder {
    text-align: center;
}

.reason-of-knowing {
    padding: 10px;
}

.reason-of-knowing::placeholder {
    text-align: center;
}

.birthday {
    padding: 10px;
    margin-right: 20px;
}

.birthday::placeholder {
    text-align: center;
}

.position {
    padding: 10px;
    margin-right: 20px;
}

.position::placeholder {
    text-align: center;
}

.phone-number {
    padding: 10px;
    margin-right: 20px;
}

.phone-number::placeholder {
    text-align: center;
}

.must-fill {
    color: red;
}

@media (max-width: 768px) {
    .form-row2 {
        flex-direction: row;
        gap: 0;
    }

    .date-important {
        width: 90% !important;
        float: left;
    }
    .note {
        width: 170px !important;
        height: 50px;
    }

    .form-row1, .form-row3, .form-row4, .form-row5 {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 30px;
    }

    .label-input-group {
        width: 100%;
    }
    
    .create-client-page-body {
        width: 100%;
    }
    
    .create-client-container {
        height: auto;
    }

    .label-input-group input {
        width: 100%;
    }

    .birthday {
        width: 90% !important;
        float: left;
    }

    .additional-note {
        min-width: 370px;
    }

}
