.content-layout {
  display: flex;
  flex: 1;
  height: 90%; /* 10% reserved for top bar */
}

.main-content {
  width: 80%; /* 20% reserved for left nav */
  height: 100%;
  overflow-y: auto;
  background-color: #f9f9f9;
  padding: 20px;
}

/* Navbar dimensions */
.topNavBar {
  height: 10%;
  width: 100%;
  background-color: #CB997E;
}

.leftNavBar {
  width: 20%;
  height: 100%;
  background-color: #CB997E;
}

.right-section {
  width: 90%;
  padding-top: 10%;
}