.sideNavBar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #5A686A;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    // padding-top: 1rem;
    z-index: 4;
}

.sideNavList {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sideNavItem {
    width: 100%;
    margin-top: 30%;
}

.sideNavButton {
    display: block;
    width: 100%;
    text-align: left;
    padding: 1rem 1rem;
    font-size: 1.2rem;
    color: #ffffff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}
